* {
  font-family: sans-serif;
  font-size: 11px;
}

#id_headnote {
  font-family: monospace, sans-serif;
}

.c_activate, .c_blacklist, .c_allow {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

td {
  white-space: nowrap;
}

#id_table1 td:nth-child(2) {
  font-family: monospace, sans-serif;
  text-align: right;
}

#id_table1 td:nth-child(2):after {
  content: " ms";
}
