body {
  font-family: sans-serif;
}

td {
  font-family: sans-serif;
  /* white-space: nowrap; */
}

td:nth-child(2) {
  font-family: monospace, sans-serif;
  text-align: right;
}

td:nth-child(2):after {
  content: " ms";
}
